.btn-primary {
    background-color: darkblue;
}

body {
    background-color: #8789a5;
    text-align: center;
}

h1 {
    color: coral;
}

.form-group{
    text-align: center;
}

.col-4 {
    border: black 2px;
    border-radius: 2%;
}