<include href="views/header.html"></include>

<body>
<div class="container">
  <h1>My Diner</h1>
  <h2>Order Part 2</h2>

  <form action="#" method="post" class="form-horizontal">
    <h3>Select Condiments</h3>

    <input type="checkbox" id="cond1" name="conds[]" value="Ketchup">
    <label for="cond1">Ketchup</label><br>
    <input type="checkbox" id="cond2" name="conds[]" value="Mustard">
    <label for="cond2">Mustard</label><br>
    <input type="checkbox" id="cond3" name="conds[]" value="BBQ">
    <label for="cond3">BBQ</label><br>
    <input type="checkbox" id="cond4" name="conds[]" value="Mayo">
    <label for="cond4">Mayo</label><br>
    <input type="checkbox" id="cond5" name="conds[]" value="Sriracha">
    <label for="cond5">Sriracha</label><br>
    <!-- submit button -->
    <div class="col-xs-3 ">
      <button class="btn btn-primary" type="submit">Next</button>
    </div>
  </form>

</div>

</body>
</html>